body {
  background-color: #f4f6f8;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

header {
  background-color: #1877f2;
  color: white;
}

header h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 30px;
  background-color: #ffffff;
}

footer {
  background-color: #f1f2f6;
  color: #777;
  border-top: 1px solid #ddd;
  text-align: center;
  padding: 20px 0;
}

footer a {
  text-decoration: none;
  color: #1877f2;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 80px; 
  padding-top: 20px; 
  padding-bottom: 20px;
}
.navbar-nav .nav-link {
  font-size: 1.5rem;
}
.container-fluid {
  min-width: 70%
}

.navbar-brand {
  font-size:2rem;
  color: #1877f2;
  font-weight: bold;
}
.navbar-brand:hover {
  color: #165cdb;
}
.form-control {
  border-radius: 20px;
}
.nav-link {
  color: #1877f2;
  font-weight: 500;
}

.nav-link:active {
  color: black;
  font-weight: bold;
}

.nav-link:hover {
  color: #165cdb;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
}
.modal-dialog {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  margin: 0 !important;
  max-width: 500px;
  width: 100%;
  z-index: 1055;
}

.content {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}
.table-container {
  min-height: 100%;
}
.input-field {
  margin-bottom: 8px;
}
.input-button {
  border-radius: 10px;
}

.col-md-4 {
  padding-right: 10px;
}

.col-md-8 {
  padding-left: 10px;
}

.border-left {
  border-left: 0.666667px solid rgb(218, 221, 225);
}


